body {
  background-color: white;
}
.Logo {
  margin-top: 15px;
  max-width: 50%;
  max-height: 50%;
  min-width: 105px;
  min-height: 105px;
}
.carta {
  margin-top: 50px;
}
.btn {
  width: 150px;
}
.Link {
  text-decoration: "none";
  color: white;
  
}
.Cuerpo {
  background-color: black;
  width: 65%;
  border-radius: 20px;
  padding: 15px;
}
.form-text {
  color: white;
  opacity: 0.5;
}
label {
  color: white;
}


